[mysqld]
server-id=1
log-bin=mysql-bin
binlog_format=ROW
binlog_row_metadata=FULL
binlog_row_image=FULL
replica_parallel_workers=10

# InnoDB
innodb_buffer_pool_size = 6G  # Adjust for your RAM
innodb_flush_log_at_trx_commit = 2
innodb_redo_log_capacity = 4G
innodb_flush_method = O_DIRECT
innodb_autoinc_lock_mode = 2

# Connection
max_allowed_packet=256M
thread_cache_size = 100

# Query
tmp_table_size=256M
max_heap_table_size=256M